<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Onion Scraper</title>
	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--  <link rel="stylesheet" href="../../public/style.css"> -->
</head>
<body>
	<div class = "jumbotron" style="text-align: center">
		<h1>Welcome to The Onion Scraper</h1>
		<p>Scrape today's fake news, read past stories, add notes to stories and see what others have noted.</p>
		<p>We hope this onion won't make your eyes water!</p>
		<button type="button" class="btn btn-primary scrape">Scrape</button>
		<button type="button" class="btn btn-primary savedArticles">Saved Articles</button>
	</div>
	{{{ body }}}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    
</body>
</html>